@use "/assets/scss/sass-vars.module.scss";

* {
  box-sizing: border-box;

  &:before {
    box-sizing: border-box;
  }

  &:after {
    box-sizing: border-box;
  }

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: Arial, sans-serif;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: var(--text-color);
  line-height: var(--line-height);
  margin: 0 auto;
  overflow-x: hidden;
}

h2 {
  &.headline {
    font-size: 48px;
    font-weight: bold;
  }

  &.subhead {
    font-size: 24px;
  }
}

h3 {
  &.headline {
    font-size: 32px;
    font-weight: bold;
  }

  &.subhead {
    font-size: 19px;
  }
}