@use "/assets/scss/sass-vars.module.scss";

* {
  box-sizing: border-box;

  &:before {
    box-sizing: border-box;
  }

  &:after {
    box-sizing: border-box;
  }

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: Arial, sans-serif;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: var(--text-color);
  line-height: var(--line-height);
  margin: 0 auto;
  overflow-x: hidden;

  [data-module-template="heroes"]>.subhead {
    font-size: 24px;
  }

  [data-module-template="promo"]>.subhead {
    font-size: 19px;
  }
}

h2 {
  &.headline {
    font-size: 48px;
    font-weight: bold;
  }
}

h3 {
  &.headline {
    font-size: 32px;
    font-weight: bold;
  }
}

.button {
  background: #0071e3;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 980px;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  min-width: 30px;
  padding: 7px 15px;
  text-align: center;
  white-space: nowrap;

  &.button-sm {
    font-size: 13px;
    padding: 4px 7px;
  }

  &:hover {
    background: #0077ED;
    color: #fff;
    border-color: transparent;
  }

  &.button-tertiary {
    background: rgba(0, 0, 0, 0);
    color: #06c;
    border-color: #06c;
  }

  &.button-tertiary-light {
    border-color: #F5F5F7 !important;
    background: transparent !important;
    color: #F5F5F7 !important;

    &:hover {
      background: #FFF !important;
      color: #000 !important;
    }
  }

  &.button-primary-light {
    background: #F5F5F7 !important;
    color: #000 !important;

    &:hover {
      background: #FFF !important;
    }
  }
}