@use "/assets/scss/sass-vars.module.scss";

* {
  box-sizing: border-box;

  &:before {
    box-sizing: border-box;
  }

  &:after {
    box-sizing: border-box;
  }

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: Arial, sans-serif;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: var(--text-color);
  line-height: var(--line-height);
  margin: 0 auto;
  overflow-x: hidden;
}
