@charset "UTF-8";
@use "sass:meta";
@use "sass-vars.module.scss";

:root {
  // don't forget to check contrast against gray background (read only inputs notably)
  // These colors meet the WCAG AA-level contrast ratio 4.5:1,
  // except for green and orange that have only 3:1, but that is acceptable if used for UI elements only,
  // and the yellow and gray that have their text in button set to the white color.
  --color-blue: #006EDC;
  --color-blue-lighter: #177fe6;
  --color-green: #008A00;
  --color-orange: #EF7000; 
  --color-purple: #A451CD;
  --color-red: #EE0000;
  --color-yellow: #FFCC00;
  --color-cyan: #01B2B5;
  --color-cyan-lighter: #03a3a6;
  --color-ice-mist: #EDF7FF;
  --color-midnight-blue: #182431;
  --color-midnight-blue-lighter: #394552;
  --color-midnight-blue-lightest: #072B6A;
  --color-white: hsl(0, 0%, 100%);
  --color-gray-lightest: hsl(0, 0%, 96%);
  --color-gray-lighter: hsl(0, 0%, 90%);
  --color-gray: hsl(0, 0%, 80%);
  --color-gray-darker: hsl(0, 0%, 70%);
  --color-gray-darkest: hsl(0, 0%, 60%);
  --color-black-lightest: hsl(0, 0%, 46%); // the lightest acceptable for WCAG AA requirement
  --color-black-lighter: hsl(0, 0%, 23%);
  --color-black: hsl(0, 0%, 0%);

  --text-color: var(--color-black);
  --spacing: 16px;
}

@include meta.load-css("global.scss");
@include meta.load-css("row-col.scss");
@include meta.load-css("utils.scss");
@include meta.load-css("fonts.scss");