.ai-gradient {
  background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
  background-clip: border-box;
  background-clip: text;
  color: transparent;
  display: inline-block;
  width: 100%;
}

// Tailwind purges unused CSS found in the code
// so dynamic styles loaded from API cannot work.
// There we must reference and limit what styles are available.
.text-white {
  color: var(--color-white);
}

.text-blue {
  color: var(--color-blue);
}

.text-cyan {
  color: var(--color-cyan);
}

.text-black-lighter {
  color: var(--color-black-lighter);
}

.text-black-lightest {
  color: var(--color-black-lightest);
}

.text-midnight-blue {
  color: var(--color-midnight-blue);
}

.text-midnight-blue-lighter {
  color: var(--color-midnight-blue-lighter);
}

.text-midnight-blue-lightest {
  color: var(--color-midnight-blue-lightest);
}

@for $i from 1 through 20 {
  .h-#{$i * 50}px {
    height: $i * 50px;
  }
  
  .min-h-#{$i * 50}px {
    min-height: $i * 50px;
  }
  
  .max-w-#{$i * 50}px {
    max-width: $i * 50px;
  }
}