.ai-gradient {
  background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
  background-clip: border-box;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

// Tailwind purges unused CSS found in the code
// so dynamic styles loaded from API cannot work.
// There we must reference and limit what styles are available.
.text-white {
  color: white;
}

@for $i from 1 through 100 {
  .h-#{$i * 100}px {
    height: $i * 100px;
  }
}
